.App {
  text-align: center;
}

.transactions{
  width: 60%;
  margin: 0 auto;
  height: 350px;
  overflow-x: scroll;
}

.transactions table{
  width: 100%;
}

.transactions-head{
  background-color: #eee;
  font-weight: bold;
  padding: 5px;
  text-align: left;
}

.transactions-head tr{
  width: 100%;
}

.transactions-head th{
  padding: 8px; 
}

.transactions-body{  
}

.transactions-body .transaction-item{
  background-color: #eee;
  padding: 12px;
  text-align: left;
  float: 1;
}

.transactions-body .transaction-item:nth-child(even){
  background-color: #fff;
}

.transactions-body td{
  padding: 8px; 
}

.empty{
  padding: 25px;
  text-align: center;
  color: #aaa;
  font-size: 21px;
}

.button-fab{
  border-radius: 100px;
  padding: 12px;
  width: 52px;
  height: 52px;
  position: fixed;
  right: 150px;
  bottom: 100px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  line-height: 12px;
  border: 0;
  background-color: crimson;
  cursor: pointer;
}